app = "my-fhir-server"

[build]
  image = "hapiproject/hapi:v7.0.2"

[env]
  hapi.fhir.default_encoding = "JSON"

[http_service]
  internal_port = 8080
  force_https = false
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[services]]
  protocol = "tcp"
  internal_port = 8080

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
